@charset "UTF-8";

@font-face {
  font-family: "loan-fonts";
  src:url("fonts/loan-fonts.eot");
  src:url("fonts/loan-fonts.eot?#iefix") format("embedded-opentype"),
    url("fonts/loan-fonts.woff") format("woff"),
    url("fonts/loan-fonts.ttf") format("truetype"),
    url("fonts/loan-fonts.svg#loan-fonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "loan-fonts" !important;
  font-size: 150px;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "loan-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vallet:before {
  content: "a";
}
.icon-banknote:before {
  content: "b";
}
.icon-vallet:before {
  content: "a";
}
.icon-fontawesome-webfont:before {
  content: "c";
}
.icon-credit-card:before {
  content: "d";
}
.icon-home:before {
  content: "e";
}
.icon-fontawesome-webfont-1:before {
  content: "f";
}
.icon-home-1:before {
  content: "g";
}
.icon-home-2:before {
  content: "h";
}
.icon-shop:before {
  content: "j";
}
.icon-fontawesome-webfont-2:before {
  content: "k";
}
.icon-credit-card-1:before {
  content: "l";
}
.icon-credit-cards:before {
  content: "m";
}
.icon-bank-notes:before {
  content: "n";
}
.icon-cittadinosymbols-webfont-1:before {
  content: "o";
}
.icon-home-house-streamline:before {
  content: "i";
}
.loantypes .col-md-4 {
    text-align: center;
}