{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <header>
                <h2>About</h2>
            </header>
            <article>
                <p>
                    This site has one simple purpose loans and to do it <em>fast</em>
                </p>
                <p>
                    No forms to fll in (unless you want to try our advanced search).<br/>
                    Simply click the type of loan you want and a special
                    search will be done to find the 10 best deals currently available
                    from a variety of sources.
                </p>
            </article>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}