{% extends  "layout.html" %}

{% block title %}Pick your loan type{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/search.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container startblock">
    <div class="row">
        <div class="col-md-12">
            <div class="loantypes">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/loans/unsecured" data-icon="c" id="loans-icon">&nbsp;</a>
                    </div>
                    <div class="col-md-4">
                        <a href="/cards/all" data-icon="m" id="card-icon">&nbsp;</a>
                    </div>
                    <div class="col-md-4">
                        <a href="/loans/secured" data-icon="g" id="home-icon">&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}