{% extends  "layout.html" %}

{% block title %}Pick your loan type{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/search.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container startblock">
    <div class="row">
        <div class="col-md-12">
            <div class="loantypes">
                <div class="row loans-row">
                    <div class="col-md-4">
                        <a href="/loans/unsecured" data-icon="b" id="loan-unsecured">&nbsp;</a>
                        <h4>Unsecured Loans</h4>
                    </div>
                    <div class="col-md-4">
                        <a href="/loans/personal" data-icon="o" id="loan-secured">&nbsp;</a>
                        <h4>Secured Loans</h4>
                    </div>
                    <div class="col-md-4">
                        <a href="/loans/bad+credit" data-icon="g" id="loan-badcredit">&nbsp;</a>
                        <h4>Bad Credit Loans</h4>
                    </div>
                </div>
                <div class="row loans-row">
                    <div class="col-md-4">
                        <a href="/loans/car" data-icon="w" id="loan-car">&nbsp;</a>
                        <h4>Car Loans</h4>
                    </div>
                    <div class="col-md-4">
                        <a href="/loans/holiday" data-icon="k" id="loan-holiday">&nbsp;</a>
                        <h4>Holiday Loans</h4>
                    </div>
                    <div class="col-md-4">
                        <a href="/loans/wedding" data-icon="p" id="loan-wedding">&nbsp;</a>
                        <h4>Wedding Loans</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}